.overall {
  display: flex;
  background: red;
  color: #aaa;
}

.left {
  background: #111;
  min-width: 300px;
  width: 20%;
  /* display: flex; */
  /* justify-content: center; */
}

.right {
  background: #222;
  width: 80%;
}