.overall {
  display: flex;
  background: red;
  color: #bdbdbd;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.left {
  background: #1c1d22;
  min-width: 300px;
  width: 20%;
  border-right: 1px solid #bdbdbd;
}

.right {
  background: #2a2b30;
  width: 80%;
}

.header-one {
  font-size: 32px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #393a41;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #393a41;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #393a41;
}