.overall {
  display: flex;
  background: red;
  color: #aaa;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.left {
  background: #111;
  min-width: 300px;
  width: 20%;
  border-right: 1px solid #aaa;
}

.right {
  background: #222;
  width: 80%;
}

.header-one {
  font-size: 32px;
}