
.entry-description{
    background: #1c1d22;
    height: 150px;
    color: #bdbdbd;
    width: 40%;
}

.entry-form-container select {
  color: #bdbdbd;

}

.entry-dropdown select{
    background: #1c1d22;
}

.entry-submit-button{

}