.entry-form-container {
    display: flex;
    /* justify-content: center; */
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 70px;

}

.entry-form-container form{
    margin-top: 10px;
}

.entry-description{
    background: #1c1d22;
    height: 400px;
    resize: none;
    color: #bdbdbd;
    width: 700px;
    border: none; 
    outline: none;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px;
}

.entry-form-container select {
    color: #bdbdbd;
    background: #1c1d22;
    cursor: pointer;
    border: none; 
    outline: none;
    font-size: 12px;
    margin-left: 12px;
    border-radius: 3px;

}

.entry-form-container select:hover{
    background-color: #5c5edc;
}
.entry-dropdown {
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
}

.entry-dropdown1 {
    font-size: 14px;
    font-weight: 500;
    margin-left: 5px;
}


.entry-submit-button input{
    color: #bdbdbd;
    background: #1c1d22;
    background: #1c1d22;
    border: none; 
    outline: none;
    cursor: pointer;
    margin-left: 25px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 3px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;

}
.entry-submit-button input:hover{
    background-color: #5c5edc;
}

.entry-submit-button {
    margin-right: 5px;
}

.dropdowns{
    display: flex;
    align-items: center;
    padding-top: 12px;
    /* padding: 12px; */
    justify-content: space-between;
    text-transform: uppercase;
}
