div[class^="navbar"] {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-wrapper {
  margin: 50px 25px;
}

.navbar-wrapper hr {
    width: 100%;
    height: 2px;
    border: none;
    background-color: #333;
}

.navbar-links {
  width: 100%;
  align-items: flex-start !important;
  font-size: 24px;
}

.navbar-link {
  margin: 5px 10px;
}

.selected {
  text-decoration: underline;
}