.msg-container {
  position: absolute;
  top: 0;
  right: 0;
  margin: 50px;
  padding: 15px 25px;
  border: 0.5px solid #5c5edc;
  color: #5c5edc;
  /* background: rgba(176, 224, 230, 0.5); */
  background: rgba(28,29,34, 1);
  /* background : rgb(28, 29, 34) */
  border-radius: 3px;
}

.goal-form {
  position: relative;
}