.report-link {
  padding: 19px 0;
  font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.report-links {
  width: 100%;
  display: flex;
  justify-content: center;
}

.report-input-field::placeholder {
  color: rgb(177, 177, 177);
}

.report-input-field {
  padding-left: 15px;
}

.home-reports-links {
  display: flex;
  justify-content: center;
}

.home-reports-links > div {
  display: flex;
  align-items: center;
}

.reports-arrow {
  height: 10px;
  width: 15px;
}

.reports-arrow-container {
  margin-left: 10px;
  margin-right: 10px;
}

.username-reports {
  color: #5c5edc;
  font-weight: bold;
}