.report-page-title{
  text-transform: uppercase;
  color: #5c5edc;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 25px;
  margin: 40px 0px 40px 0px;
  /* position: relative; */
  /* top: 50px; */
  
}

.report-page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}
.report-entry{
    /* display: inline; */
    display: flex;
    flex-direction: column;
    background: #1c1d22;
    /* height: 20%; */
    resize: none;
    color: #bdbdbd;
    width: 60%;
    border: none; 
    outline: none;
    border-radius: 3px;
    font-size: 18px;
    /* padding: 20px; */
    margin-bottom: 20px;
}

.all-entries-div{
    width: 100%;
    max-height: 600px;
    overflow: scroll;
    display: flex; 
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    /* position: relative;
    top: 70px; */
}

.new-entry{
    /* text-transform: uppercase; */
    cursor: pointer;
    color: #bdbdbd;
    background: #1c1d22;
    font-size: 14px;
    font-weight: 600;
    border-radius: 3px;
    padding: 6px 15px 6px 15px;
    /* line-height: 4; */

}

.new-entry-div{
    /* line-height: 1.5; */
}


.new-entry:hover{
    background: #5c5edc;
}

.rep-entry-info{
    display: flex; 
    flex-direction: row;
    margin-top: 12px;
    background: #2a2b30;

}

.rep-entry-description{
    padding: 20px;

}

.info-divs{
    display: flex;
    font-size: 12px;
}
.pic1 {
    width: 300px;
    margin-left: 25%;
}

.pic2 {
    width: 225px;
    margin-left: 27%;
}

.pic3 {
    /* border: 1px solid rgb(83, 83, 83); */
}

.instructions {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* overflow: scroll; */
}

.reports-header {
    margin-top: 50px;
    padding-bottom: 40px;
    border-bottom: 1px solid white;
    font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #7072f3;
    display: flex;
    justify-content: center;
}

.instructions h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #7072f3;
    display: flex;
    justify-content: center;
    /* color: white; */
}

.instructions-field {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow: scroll;
    padding-top: 350px;
    /* background-image: url("../profile.png"); */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
}

.reports-logo-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 0;
}

/* .step-1 {
    font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #7072f3;
}

.step-2 {
    font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #7072f3;
} */
