.session-form-container {
  height: 90%;
}

div[class^="session-form"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.session-title {
  color: #5c5edc;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 25px;
  margin: 15px;
}

.session-title.login {
  font-size: 22px;
}

/* .session-input-area {
  width: 250px;
  height: 40px;
  background: #1c1d22;
  margin: 10px 0;
  border-radius: 3px;
  position: relative;
  display: flex;
}

.session-input-area input {
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
  margin: 0 15px;
  color: #bdbdbd;
  font-size: 16px;
  font-weight: 700;
} */

/* .submit-btn{
  width: 150px;
  margin-top: 30px;
}

.submit-btn input{
  color: #bdbdbd;
} */

.submit-btn{
  /* width: 300px; */
  margin-top: 15px;
}

.errors-container {
  border: 0.5px solid rgb(172, 49, 49);
  background: rgba(255,204,204,0.8);
  position: absolute;
  left: -25%;
  top: 100%;
  width: 150%;
  margin: 10px 0;
  padding: 3px 0;
  border-radius: 3px;
}

.on-login {
  left: 7.5%;
  width: 85%;
}

.errors-list {
  color: rgb(172, 49, 49);
  list-style-position: inside;
  list-style-type: disc;
}

.error-item {
  padding: 2px 5px;
}

.info-input-area {
  width: 250px;
  height: 50px;
  background: #1c1d22;
  margin: 10px 0;
  border-radius: 3px;
  position: relative;
  display: flex;
  /* border: 0.5px solid #5c5edc; */
}

.info-input-area input {
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
  margin: 0 15px;
  color: #bdbdbd;
  font-size: 16px;
  font-weight: 700;
}

.info-label {
  white-space: nowrap;
  font-size: 10px;
  color: #5c5edc;
  position: absolute;
  top: -6px;
  left: 10px;
  background: #2a2b30;
  padding: 0 3px;
}

.info-input-wrapper {
  position: relative;
  width: 100%;
  margin: 5px;
  border: 0.5px solid #5c5edc;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.info-input-area.submit-btn {
  width: 50%;
  /* height: 150%; */
}

.info-input-area.submit-btn:hover {
  background: #5c5edc;
}