.splash{
  position: relative;
  text-align: center;
}
.splash-background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    opacity: 0.4;
    height: 100vh;
}


.splash-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  
}


.tagline{
  text-shadow: 0 1px 2px rgba(0,0,0,0.33);
  font-size: 5vw; 
  text-align: center;

}

.splash-logo {
  width: 40%;
  height: auto;
  padding-bottom: 50px;
}

.one-liner{
  font-size: 1.05vw;
  text-align: center;
  padding-bottom: 100px;
}
